<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Delete Player</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/mystyle1.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
<link rel="stylesheet" href="{% static 'css/createplayer.css' %}"/>
<link rel="stylesheet" href="{% static 'css/backbutton.css' %}"/>
<link rel="stylesheet" href="{% static 'css/createplayer.css' %}"/>
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Delete Player</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action= "{% url 'myapp:delete_player' %}" method="post">
          {% csrf_token %}
          <label for="teams-select">Choose a player:</label>
          <select name="player_delete" required="">
            <option value="">--Please choose a Player--</option>
            {% if players_list %}
            {% for player in players_list %}
            <option value="{{player.name}}">{{player.name}} {{player.position}}</option>
            {% endfor %}
            {% endif %}
          </select>
					<div class="wthree-text">

						<div class="clear"> </div>
					</div>
					<input type="submit" value="Delete Player">
          {% if messages %}
          {% for msg in messages %}
          <b> {{msg}} </b>
          {% endfor %}
          {% endif %}
				</form>
			</div>
		</div>

		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="Back_Effbutton">
		<form>
		<a href="{% url 'myapp:player_section' %}">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				 Back
			</a>
		</form>
	</div>
	<!-- //main -->
</body>
</html>
